.vscode
build
install
log
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.idea
*.iml
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.7z
*.exe
*.dll
*.so
*.dylib
*.pyc
*.pyo
*.egg-info
*.egg
*.dist-info
*.egg-info
__pycache__
node_modules
dist
coverage
*.env
.env.*
*.pem
*.key
*.crt